$mycolor: #333;

$breaksmall: 768px;
$breakmedium: 992px;
$breaklarge: 1024px;
$bodyheight: 100vh;

#body {
	background-color: $mycolor;
	width: 100vw;
	height: $bodyheight;
}

.row {
	height: 10em;
	position: fixed;
	width: 100vw;
	// margin-left: auto;
	// margin-right: auto;
	h1 {
		font-size: 7em;
		@media (max-width: $breakmedium) and (min-width: $breaksmall){
			font-size: 7em;
		}
		@media (max-width: $breaksmall){
			font-size: 3em;
		}
	}
	.hex {
		top: 3em;
		left: 1em;
		cursor: pointer;
		z-index: 100;
	}
	.rgb {
		top: 8em;
		
	}
}

#hex {
	cursor: pointer;
}

button {
	height: 100px;
	width: 100px;
	background-color: red;
}

#rgbDiv {
	


}

#colorBoxes {
	margin-top: 2em;
	width: 100%;
	height: 100vh;
	background-color: transparent;
	overflow: hidden;
	position: fixed;
	top: 0;
	
	

	.colorBox {
		display: inline-block;
		width: 32%;
		height: 100vh;
		overflow: scroll;
	}

	p {
		position: relative;
		font-size: 2em;
		display: inline-block;
	}
}
.inside {
	width: 100%;
	height: 5000px;
}

#redInside {
	height: 2560px;
}

::-webkit-scrollbar {
	width: 0px;
	background-color: transparent;
}

#infoDiv {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 200;
	background-color: rgba(255,255,255,0.9);

	
	h2 {
		font-size: 5em;
		margin-top: 4em;
		color: #000000;
		@media (max-width: $breakmedium) and (min-width: $breaksmall){
			font-size: 4em;
		}
		@media (max-width: $breaksmall){
			font-size: 3em;
		}
	}
}

#infoButton {
	opacity: 0;
	position: fixed;
	top: 0.5em;
	right: 0.5em;
	color: white;
	z-index: 201;
}

.colorTags {
	position: fixed;
	bottom: 0.5em;
	margin-left: 1em;
	z-index: -10;
	> span {
		font-size: 2em;
	}
}

#redTag {

}

#greenTag {
	
}

#blueTag {
	
}